.outBox {
    margin: 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: black;
    font-weight: bold;
    font-size: 20px;
    font-family: PressStart2P;
    /* Light gray background color */
}

.cardBox {
    padding: 36px;
    max-width: 750px;
    width: 100%;
    background-color: rgb(41, 41, 41);
    height: fit-content;
    border-radius: 20px;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formOutItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: PressStart2P;
    font-weight: 400;
    color: #FFFFFF;
}

.ModelnumOut {
    font-size: 12px;
    font-weight: 700;
}

.subCard {
    width: 50%;
    margin-right: 20px;
}

.tokenAress {
    width: 250px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 11px;
}

.requestBtn {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px;
    width: 100%;
}

.requestBtn:disabled {
    opacity: 0.6;
    color: rgb(0, 0, 0);
}

.create {
    background-color: none;
    color: #0E76FD;
    border: 2px solid #577192;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px;
    width: 100%;
    margin-left: 20px;
}

.create:hover {
    border: 2px solid #0E76FD;
}

.customTokenInput {
    background: #000 !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 14px !important;
    padding: 0 10px;
}

.informationBox {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.title {
    margin: 0px;
    font-family: PressStart2P;
    line-height: 1.5;
    font-weight: 700;
    font-size: 20px;
}

.requestBtnOutBox {
    display: flex;
    justify-content: center;
}

.tabs {
    display: flex;

}

.tab {
    cursor: pointer;
    font-size: 14px;
    font-family: PressStart2P;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 15px;
    transition: all .2s;
    padding: 10px 24px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #222222;
}

.currentTab {
    background-color: #0E76FD;
    border-bottom: 2px solid #0E76FD;
    z-index: 1000;
}

.cardContent {
    padding: 2rem;
    display: flex;
    background-color: #000;
    border: 2px solid rgb(55, 56, 56);
    border-radius: 16px;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
}

.btnText {
    color: #0E76FD;
    cursor: pointer;
}